<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amar.mcar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Dangerous permissions, need to be granted at runtime -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyCarActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".LiveMonitoringActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                 <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity android:name=".RemoteActivity">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPQpeTAodq0DyqI2O9PpN4a4etkkapPB8" />

        <activity android:name=".SettingsActivity" />

        <receiver android:name=".SmsReceiver">
            <!--<intent-filter>-->
                <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
            <!--</intent-filter>-->
        </receiver>

        <activity
            android:name=".MapTraceActivity"
            android:label="@string/title_activity_maps">
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>